* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #121116;
  overflow: hidden;
  transition: 0.5s background ease;
}

.top {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

div#toggle {
  display: flex;
  padding: 10px;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 20em;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 24px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s ease;
}
div#toggle:hover {
  box-shadow: none;
  animation: rotate-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
div#toggle:active {
  box-shadow: none;
  -webkit-animation: rotate-scale-down 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: rotate-scale-down 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#ill {
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -99;
}

#ill-left {
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -99;
  transform: scale(-1, 1);
}

.clock-container, .greeting-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#clock, #greeting {
  color: #6220D0;
}

#clock {
  margin: 15px auto 0 auto;
  font-size: 8rem;
  font-weight: 600;
}

#date {
  opacity: 0;
  pointer-events: none;
  color: #e74c3c;
  font-size: 1.4em;
  font-weight: 700;
  -webkit-animation: swing-out-top-bck 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: swing-out-top-bck 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

#date.show {
  -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.77, 0, 0.175, 1) both;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.77, 0, 0.175, 1) both;
}

#greeting {
  margin: 15px auto;
  font-weight: 600;
  font-size: 3.5rem;
  transition: 700ms letter-spacing cubic-bezier(0.075, 0.82, 0.165, 1);
}
#greeting:hover {
  letter-spacing: 0.3em;
}

.speed-dial-container {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  color: #e74c3c;
  margin-top: 30px;
  overflow-x: scroll;
  position: relative;
}

.speed-dial-container.justified {
  justify-content: start;
}

::-webkit-scrollbar {
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 20em;
  background: #6220D0;
}
::-webkit-scrollbar-thumb:hover {
  background: #4d19a4;
}

.item-content {
  position: relative;
  margin: auto 5px;
  z-index: 9999;
}

.bookmark {
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  padding: 9px 17px;
  box-sizing: border-box;
  margin: 5px;
  border-radius: 20px;
  transition: 300ms all ease;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 8px 0px;
  color: unset;
}
.bookmark:hover {
  background-color: #18161c;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 8px 0px;
}
.bookmark:active {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 8px 0px;
}
.bookmark:visited {
  text-decoration: none;
  color: unset;
}
.bookmark:focus {
  text-decoration: none;
  color: unset;
}

.btn-action-container {
  display: none;
  width: max-content;
  position: absolute;
  top: -16px;
  right: -4px;
}

.btn-edit, .btn-del {
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 20em;
  padding: 2px;
  box-sizing: border-box;
}
.btn-edit img, .btn-del img {
  width: 100%;
  cursor: pointer;
}

.btn-edit {
  background-color: #16a085;
}
.btn-edit:hover {
  background-color: #1ccdaa;
}

.btn-del {
  width: 20px;
  background-color: #e74c3c;
}
.btn-del:hover {
  background-color: #ed7669;
}

form#edit {
  display: none;
  position: absolute;
  background-color: #1F1D25;
  padding: 10px 15px;
  border-radius: 10px 10px 0 0;
  bottom: 0;
  align-self: center;
  overflow: hidden;
}

form#edit.show {
  display: block;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-bottom: none;
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

input#title, input#url {
  border: none;
  height: 26px;
  overflow: hidden;
  padding-left: 5px;
  background-color: #DDDDDD;
}

input#url {
  width: 30ch;
}

#select-colors {
  height: 26px;
  border: none;
  cursor: pointer;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  padding-left: 5px;
  background: #DDDDDD url(../assets/dropdown.svg) no-repeat;
  background-position: 95% 50%;
}
#select-colors option {
  padding: 5px;
  background-color: white;
}

.btn-e {
  border: none;
  padding: 5px 12px;
  border-radius: 20em;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.btn-enter-container {
  align-self: center;
  z-index: 10;
}

.ed-active {
  background-color: #16a085;
}

.ad-active {
  background-color: #3498db;
}

.btn-enter-edit {
  background: none;
  transition: background 700ms cubic-bezier(0.075, 0.82, 0.165, 1);
  width: min-content;
}
.btn-enter-edit:hover {
  background-color: #16a085;
}
.btn-enter-edit:active {
  background-color: #0a463a;
}

.btn-enter-add {
  background: none;
  transition: background 700ms cubic-bezier(0.075, 0.82, 0.165, 1);
  width: max-content;
}
.btn-enter-add:hover {
  background-color: #3498db;
}
.btn-enter-add:active {
  background-color: #196090;
}

.btn-update {
  display: none;
  background-color: #16a085;
  overflow: hidden;
}
.btn-update:hover {
  background-color: #1ccdaa;
}

.btn-add {
  display: none;
  background-color: #3498db;
  overflow: hidden;
}
.btn-add:hover {
  background-color: #5faee3;
}
.btn-add:active {
  background-color: #258cd1;
}

.visible {
  display: inline-block;
}

@media only screen and (max-height: 560px) {
  #ill, #ill-left {
    width: 20vh;
  }

  #clock {
    font-size: 13vh;
  }

  #greeting {
    font-size: 7vh;
  }
}
@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
@-webkit-keyframes rotate-scale-down {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateZ(180deg);
    transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-down {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateZ(180deg);
    transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@-webkit-keyframes swing-out-top-bck {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
}
@keyframes swing-out-top-bck {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
}

/*# sourceMappingURL=main.css.map */
