@import 'variables.scss';

@mixin card-style {
    width: 180px;
    height: 210px;
    border-radius: 0px;
    margin: 10px;
    background-color: lighten($bgcolor, 5);
    display: inline-block;
    flex-direction: column;
    align-content: center;
    box-shadow: 0px 19px 24px 5px rgba(0,0,0,0.17);
    transition-duration: 0.5s;
}

@mixin prevent-copy {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}