// Deklarasi variables
// Colors
$fgcolor: #F8F8F2;
$bgcolor: #282A36;
$indigo: #6272A4;
$purple: #BD93F8;
$grey: #43475A;
$cyan: #8AE9FD;
$green: #51FA7B;
$orange: #FFB86C;
$pink: #FF78C6;
$yellow: #F1FA8C;
$red: #FE5455;

// Background Image
$bgimage: url("../img/bg.jpg");

// Font
$font: 'Montserrat', sans-serif;
$greeting-size: 32pt;
$time-size: 48pt;
$text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.563);